.venv/
__pycache__/
.ruff_cache/
.vscode/
*.pyc
.env
*.env
*.onnx
*.lib
*.dll
storage/
onnx_models/
hr_errors.json
**/hr_errors.json
hf_error*.json
**/hf_error*.json
node_modules/
dist/
build/
backend/eval_samples/
backend/test_data/
**/test_data/
backend/dataset/
backend/evaluation_dataset/
backend/pt_models/face_landmarker.task
*.mp4
*.wav
*.mp3
*.zip
*.tar
*.gz
